<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="footer-header">Contact Us</h3>
      </div>
    </div>
    <div class="row d-flex">
      <a href="https://facebook.com" target=”_blank” class="col-sm-4 social-block facebook-icon" style="text-align: center;">
        <img class="social-icon" src="../../assets/facebook.svg" />
      </a>
      <a href="https://instagram.com" target=”_blank” class="col-sm-4 social-block instagram-icon" style="text-align: center;">
        <img class="social-icon" src="../../assets/instagram.svg" />
      </a>
      <a href="https://twitter.com" target=”_blank” class="col-sm-4 social-block twitter-icon" style="text-align: center;">
        <img class="social-icon" src="../../assets/twitter.svg" />
      </a>
    </div>
  </div>
</div>

<footer class="bg-dark">
  <div class="container">
    <div class="copyright">
      <p>© 2020 All rights reserved | Made By Bitan Basak, Aparna Chopade, Dimple Sankuru</p>
      <p>Made with &hearts;</p>
    </div>
  </div>
</footer>