<div class="container-fluid">
  <h2 *ngIf="gifApi.searchedGifs.length!==0">{{ searchString }}</h2>
  <h2 *ngIf="gifApi.searchedGifs.length===0">Oops!</h2>
  <hr />
  <p *ngIf="gifApi.searchedGifs.length===0">Sorry!!No search result found for {{ searchString }}</p>
  <div [ngStyle]="{'padding': this.gifApi.searchedGifs.length > 0 ? '0px' : '240px'}">
    <div class="row content-row d-flex">
      <div class="col-xs-12 col-sm-4 col-lg-3 mx-auto"
        *ngFor="let gif of gifApi.searchedGifs | paginate:{id: 'search-paginate', itemsPerPage:8, currentPage:p}">
        <app-card [data]="gif" class="mx-auto" (fetchedRecommended)="initializeRecommendedArray($array)">
        </app-card>
      </div>
    </div>
    <div class="d-flex">
      <pagination-controls responsive="true" id="search-paginate" class="paginate mx-auto my-pagination"
        (pageChange)="p=$event" style="margin-top: 20px;" autoHide="true"></pagination-controls>
    </div>
  </div>
</div>