/* .custom-search-bar {
  width: 400px;
  transition: 0.5s;
}

.custom-search-bar:hover {
  width: 450px;
} */

a {
  color: white;
}
.profile-button {
  background-color: #343a3f; 
  border: none !important;
}
.profile-button:hover {
  background-color: #31302d;
}

.logo {
  width: 38px;
  height: 38px;
}