<div class="container emp-profile" *ngIf="!isInEditMode">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img [src]="mypic" class="mx-auto d-block" alt=".." />
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file" (change)="changeProfilePic($event)" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{ user.userName }}
          </h5>
          <h6>
            {{ user.emailId }}
          </h6>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Recent Activities</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn-success profile-edit-btn m-1" name="btnAddMore" value="Edit Profile"
          (click)="onChangeState()">Edit Profile</button>
        <button type="button" class="btn-danger profile-edit-btn m-1" name="btnDelete" value="Delete User"
          (click)="deleteUser()">Delete User</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Email Id</label>
              </div>
              <div class="col-md-6">
                <p>{{ user.emailId }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Username</label>
              </div>
              <div class="col-md-6">
                <p>{{ user.userName }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Gender</label>
              </div>
              <div class="col-md-6">
                <p>{{ user.gender }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{ user.mobileNumber }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date Of Birth</label>
              </div>
              <div class="col-md-6">
                <p>{{ user.date }}</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row" *ngFor="let comment of commentsArray">
              <div class="offset-md-6 col-md-6">
                <app-comment-card [comment]="comment"></app-comment-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <div *ngIf="isInEditMode">
    <h1>Edit Profile</h1>
    <hr>
    <form [formGroup]="userProfile" (ngSubmit)="saveEditedDetails()" class="form-font">
      <div class="form-group">
        <label for="email">
          Email ID :
        </label>
        <input id="emailId" type="email" class="form-cotrol" class="form-control" value="{{user.emailId}}" readonly />
      </div>
      <div class="form-group">
        <label for="username"> User Name : </label>
        <input id="username" type="text" [formControl]="userName" class="form-control" />
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-success">
          <div class="userName" *ngIf="userName.errors.required">
            Edit UserName.!
          </div>
          <div class="userName" *ngIf="userName.errors.minlength">
            Name must be at least 5 characters long.
          </div>
        </div>
      </div>
      <!-- DOB -->
      <div class="form-group">
        <label for="dob"> Date Of Birth : </label>
        <input id="dob" type="date" class="form-control" value="{{user.date}}" readonly />
      </div>
      <!-- Mobile Number -->
      <div class="form-group">
        <label for="mobile-number">
          Mobile Number:
        </label>
        <input id="mobile-number" input type="text" [formControl]="mobileNumber" class="form-control" />
        <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="alert alert-success">
          <div class="mobileNumber" *ngIf="mobileNumber.errors.required">
            Edit mobile Number.!
          </div>
          <div class="mobileNumber" *ngIf="mobileNumber.errors.minlength || mobileNumber.errors.maxlength">
            Mobile number must have 10 digits.
          </div>
        </div>
      </div>
      <!-- gender -->
      <div>
        <label>
          Gender:
        </label>
        <input id="gender" type="text" class="form-control" value="{{user.gender}}" readonly />
      </div>
      <button class="btn btn-success" type="submit"
        [disabled]="!(((userName.touched && userName.dirty) && userName.valid) || ((mobileNumber.touched && mobileNumber.dirty) && mobileNumber.valid))">Save
        Changes</button>
      <button class="btn btn-success m-2" type="button" (click)="!onChangeState()">Back</button>
    </form>
  </div>
</div>